@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #39a265;
}

.dark {
  --primary: #4ad483;
}

a {
  color: var(--primary);
}

a:hover {
  @apply underline font-medium transition duration-150 ease-in-out;
}

@theme inline {
  --color-primary: var(--primary);
}
